:root {
  // colors
  --gray-1: #000000;
  --gray-2: #fefefe;
  --gray-3: #fefefe;
  --gray-4: #fefefe;
  --gray-5: #fefefe;
  --gray-6: #fefefe;
  --white: #ffffff;

  --primary-dark: #524fff;
  --primary: #524fff;
  --primary-lite: #524fff;

  --secondary-dark: #85fff8;
  --secondary: #85fff8;
  --secondary-lite: #85fff8;

  // text
  --body: var(--primary);
  --text: var(--white);

  // spacing
  --sp1: 64px;
  --sp2: 80px;
  --sp3: 160px;

  // general
  --bez: cubic-bezier(0, 0.5, 0, 1);
  --lh: calc(100% + 8px);
}

// boilers
*,
html,
body,
:before,
:after {
  box-sizing: border-box;
  font-family: var(--nunito), sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-reduced-motion) {
    animation: none !important;
    animation-play-state: paused;
  }
}

body {
  background: var(--body);
  color: var(--text);
}

::selection {
  background: var(--secondary);
  color: var(--body);
}

main {
  padding: 0 var(--sp1);
}

button {
  background: transparent;
  border: 0;
  color: var(--gray-2);
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 4px 8px;
  text-decoration: none;
  transition: 0.2s;
}

a {
  color: inherit;
  text-decoration-thickness: 1px;
  text-underline-position: from-font;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: var(--lh);
}

h2 {
  font-size: 80px;
  font-weight: 400;
  line-height: var(--lh);
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.title {
  &_large {
    font-size: 72px;
    font-weight: 800;
    line-height: 64px;

    span {
      color: var(--secondary);
      font-family: var(--pacifico), sans-serif;
      font-size: 80px;
      font-weight: 400;
    }
  }

  &_small {
  }
}

.subhead {
  &_small {
  }
}

// responsivity
@media (max-width: 600px) {
  :root {
    --sp1: 24px;
  }
}
