:root {
  // colors
  --gray-1: #01003a;
  --gray-2: #181658;
  --gray-3: #454390;
  --gray-4: #9a99d3;
  --gray-5: #e7e7fc;
  --gray-6: #f3f2fa;
  --white: #ffffff;

  --primary-dark: #3d3ad6;
  --primary: #524fff;
  --primary-lite: #8482ff;

  --secondary-dark: #85fff8;
  --secondary: #85fff8;
  --secondary-lite: #85fff8;

  // text
  --body: var(--primary);
  --text: var(--white);
  --text-lite: var(--gray-6);

  // section widths
  --full: 1088px;
  --med: 864px;
  --reg: 640px;

  // spacing
  --padH: 64px;
  --padV: 80px;

  // general
  --bez: cubic-bezier(0, 0.5, 0, 1);
}

::selection {
  background: RGBA(17, 14, 131, 0.3);
}

// boilers
*,
html,
body,
:before,
:after {
  box-sizing: border-box;
  font-family: var(--nunito), sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-reduced-motion) {
    animation: none !important;
    animation-play-state: paused;
  }
}

body {
  background: var(--body);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

// type
.title {
  font-size: 56px;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 64px;

  &_large {
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 64px;

    span {
      color: var(--secondary);
      font-family: var(--pacifico), sans-serif;
      font-size: 80px;
      font-weight: 400;
      letter-spacing: 0px;
    }
  }

  &_small {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 44px;
  }
}

.subhead {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;

  &_small {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
}

p {
  color: var(--text-lite);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  &.small {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 22px;
  }

  &.caption {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
}

.highlight {
  font-family: var(--pacifico), sans-serif;
}

// responsivity
@media (max-width: 600px) {
  :root {
    --padH: 24px;
  }
}
