.terms {
  section {
    div {
      display: block;

      header {
        text-align: left;
      }

      h3 {
        margin: 64px 0 24px;
      }

      p {
        margin-bottom: 12px;
      }

      a {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-position: from-font;
        color: var(--white);
        font-weight: 600;
      }

      ol {
        li {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 8px;
          color: var(--gray-6);
        }
      }
    }
  }
}
