.logo {
  display: block;
  cursor: pointer;

  path {
    stroke-dasharray: 1000;
  }

  &:hover {
    path:nth-of-type(1) {
      animation: dash 6s ease forwards;
    }
    path:nth-of-type(2) {
      animation: dash 5.5s ease forwards;
    }
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2000;
  }
  15% {
    stroke-dashoffset: 1820;
  }
  16% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
