.wrapper {
  padding: 40px var(--padH) 16px;
  width: 100%;
  z-index: 100;

  div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: var(--full);
    margin: 0 auto;

    .logo {
      line-height: 0; //height fix
    }

    nav {
      align-items: center;
      display: flex;
      gap: 24px;
    }
  }

  @media (max-width: 500px) {
    div {
      flex-wrap: wrap;
      gap: 8px;

      nav a {
        display: none;
      }
    }
  }
}
