.wrapper {
  padding: var(--padV) var(--padH);
  width: 100%;

  > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;

    &.full {
      max-width: var(--full);
    }

    &.med {
      max-width: var(--med);
    }

    &.reg {
      max-width: var(--reg);
    }
  }
}
