.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  gap: 16px;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

.tile {
  border-radius: 24px;
  width: 100%;
  background: var(--primary-dark);
  display: block;
  overflow: hidden;

  header {
    display: flex;
    padding: 0 var(--padH);
    margin-bottom: var(--padH);
    width: 100%;
    gap: 12px;
    justify-content: space-between;
    flex-wrap: wrap;

    p {
      max-width: 474px;
    }
  }

  &.create {
    padding: var(--padH) 0;
    grid-column: 1 / 5;
  }

  &.profile {
    padding: var(--padH) 0;
    grid-column: 1 / 3;
  }

  &.collect {
    padding: var(--padH) 0;
    grid-column: 3 / 5;
  }

  &.wallet {
    padding: var(--padH) 0;
    grid-column: 1 / 5;
  }
}

.marquee {
  --padV: 32px;
  display: flex;
  overflow-x: hidden;
  user-select: none;
  gap: var(--padV);
  width: 100%;

  ul {
    align-items: center;
    animation: scroll 60s linear infinite forwards;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--padV);

    li {
      line-height: 0;
      list-style-type: none;
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--padV)));
  }
}
